<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Gallery</title>
    <link rel="stylesheet" href="./app/style.css">
</head>

<body>
    <div id="app">
        <template v-if="loadTime > 0">
            <h1 id="timer">--loadTime--</h1>
        </template>
        <template v-if="loadTime <= 0">
            <header>
                <h1>--title--</h1>
            </header>
            <nav>
                <h4 @click="toggleGalleryNav()" class="link">galleries</h4>
                <h4 @click="toggleForm('galleryForm')" class="link">new gallery</h4>
                <h4 @click="toggleForm('searchForm')" class="link">search</h4>
            </nav>
            <nav id="galleryNav">
                <h4 v-for="gallery in galleries" @click="renderGallery(gallery)" class="link">--gallery.title--</h4>
            </nav>
            <main>
                <div id="gallery" class="">
                    <h2>--activeGallery.title--</h2>
                    <p>--activeGallery.description--</p>
                    <div id="movies">
                        <section class="movie" v-if="!searched">
                            <div id="displayGalleryControls">
                                <svg id="hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="link" @click="toggleGalleryControls('galleryControls')">
                                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                                </svg>
                                <svg id="show" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="link" @click="toggleGalleryControls('galleryControls')">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </div>
                            <div id="galleryControls">
                                <h3>add a movie</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" @click="toggleForm('addMovieForm')" class="link">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                <h3>remove a movie</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" @click="toggleForm('removeMovieForm')" class="link">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </div>
                        </section>
                        <section v-for="movie in activeGallery.productions" class="movie">
                            <h3>--movie.title--</h3>
                            <span>--movie.year--</span>
                            <img v-if="movie.poster != 'N/A'" :src="movie.poster" :alt="movie.title + '-poster'">
                            <button v-if="searched" @click="saveToGallery(movie)">add to gallery</button>

                            </div>
                        </section>

                    </div>
                </div>
                <form id="galleryForm" class="">
                    <h1>New Gallery</h1>
                    <label for="newGalleryTitle">Gallery Title:</label>
                    <input type="text" id="newGalleryTitle">
                    <label for="newGalleryDescription">Description</label>
                    <textarea name="" id="newGalleryDescription" cols="30" rows="4"></textarea>
                    <button @click="submitGalleryForm()">submit</button>
                </form>
                <form id="addMovieForm" class="" onsubmit="event.preventDefault()">
                    <h3>Add Movie to --activeGallery.title--</h3>
                    <label for="newMovieTitle">Title:</label>
                    <input type="text" id="newMovieTitle">
                    <button @click="submitMovieForm(activeGallery)">submit</button>
                </form>
                <form id="searchForm" class="" onsubmit="event.preventDefault()">
                    <h1>search</h1>
                    <label for="query">Movie Title:</label>
                    <input type="text" id="query">
                    <button @click="submitSearchForm()">submit</button>
                </form>
                <form id="removeMovieForm" class="" onsubmit="event.preventDefault()">
                    <h1>Remove Movie from --activeGallery.title--</h1>
                    <div class="checkbox-group" v-for="movie in activeGallery.productions">
                        <label :for="'removeMovie' + movie.id">--movie.title-- (--movie.year--)</label>
                        <input type="checkbox" :id="'removeMovie' + movie.id" value="off">
                    </div>

                    <button @click="removeMovies('removeMovieForm')">submit</button>
                </form>
            </main>
        </template>
    </div>
</body>
<script src="https://unpkg.com/vue@latest"></script>
<script type="module" src="./app/app.js"></script>

</html>
